/* Scss Document */

.navbar-logo .img-fluid{
	max-height: 73px;
	margin-right: 54px;
}
.navbar{
	box-shadow: 0px 3px 6px 0px rgba(63,95,152,0.5);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(63,95,152,0.5);
    -moz-box-shadow: 0px 3px 6px 0px rgba(63,95,152,0.5);
}
.login{
	background-color: #fff;
	margin: 6em 0 0 0;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 3px 12px 0px rgba(63,95,152,1);
	-moz-box-shadow: 0px 3px 12px 0px rgba(63,95,152,1);
	box-shadow: 0px 3px 12px 0px rgba(63,95,152,1);
	
}
.left-col {
	background-color: #3F5F98;
	height: 250px;
	background: #3F5F98 url("../images/left-col-bg@3x.png") no-repeat left top;
	background-size: cover;
	color: #fff;
	align-content: center;
	text-align: center;
	H3 {
		margin: 1.2em 0 0.7em;
		font-size: 1.8em;
		font-weight: 600;
		text-align: center;
		}
	p {
		font-size: 1.0em;
		font-weight: 100;
		text-align: center;
		padding: 0;
		margin: 0.2em;
		}
	.create-one {
		color: #fff;
		//text-decoration: underline;
		}
	.btn {
		color: #fff;
		border-color: #fff;
		border-radius: 2rem;
		margin-top: 1.2rem;
		padding-left: 25px;
		padding-right: 25px;
		}
}
.right-col {
	padding-left: 30px;
	H1 {
		color: #3F5F98;
		font-weight: 600;
		margin:1.5em 0 1.2em;
		font-size: 2.1em;
	}
	form {
		width:280px;
	}
	.form-control {
		border-radius: 100px;
		border-left: none;
		padding-left: 5px;
	}
	.input-group-text {
		padding-left: 20px;
		border-radius: 100px;
		background-color: #fff;
		border-right: none;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.left-col {
		height: 448px;
		H3 {
		margin: 2em 0 .6em;
		font-size: 2.5em;
		font-weight: 600;
		text-align: center;
		}
	}
}